body {
    font-family: Helvetica, sans-serif;
    background: url('romantic-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ff637d;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ff4d63;
}

#error-message {
    color: red;
    font-size: 1rem;
}

.message-container {
    display: block; /* Ensure it is displayed */
    font-weight: bold; /* Make the text bold */
    font-size: 2rem; /* Adjust the size as needed */
    margin-top: 20px; /* Space from any other content */
}

.avatar-animation {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    animation: bounce 1.5s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
